  body {
    background-image: url("../img/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
  }

@media (max-width:728px){
  body{
    background-image: url("../img/fondo1.jpg");
  }
}

a{
  color: aliceblue;
  text-decoration: none;
}

h1,h2{
  text-align: center;
  color: aliceblue;
}

iframe{
  border-radius: 12px;
}

.contenedor {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
}

.cancion {
  background: rgba(58, 58, 58, 0.918);
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  text-align: center;
  color: aliceblue;
}


footer{
  text-align: center;
  align-items: center;
  background-color: rgba(58, 58, 58, 0.918);
  padding: 0.5em;
  margin-bottom: 0;
}

img{
  margin-right: 1em;
}

a:hover{
  text-shadow: 0 0 5px ivory, 0 0 10px ivory, 0 0 20px #f5f5dc;
}